#xslresults-trigger
{
/*  color: red ! important;*/
}
#progressmeter {
	display: none;
}

.link {
	color:blue;
	text-decoration:underline;
}

.visible#stripdtd{
	visibility: visible;
}
.invisible#stripdtd{
	/* visibility: hidden; */
	display:none;
}
treechildren::-moz-tree-checkbox {
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect.  */
  list-style-image: none;
}

treechildren::-moz-tree-checkbox(checked){
  /* css for checked cells. cbox-check.gif isn't available in Firefox 1, 2, and 3 on Mac OS X, so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}
/* Firefox doesn't style links from the XHTML namespace when embedded in XUL; there is also 
     an apparent bug with the title attribute not working for mouseovers */
a:link {color:blue;text-decoration:underline;}
a:visited {color:purple;text-decoration:underline;}

/* // Need to add these images for toolbar
#xslresults-toolbar-openWindow {
  list-style-image: url("chrome://xslresults/skin/openWindow24.png");
}
toolbar[iconsize="small"] #xslresults-toolbar-openWindow {
  list-style-image: url("chrome://xslresults/skin/openWindow16.png");
}
*/